

.landingPage{
    img{
        width:50%;
        position:absolute;
        top:0;
        right:5%
    }

    
  
.helloText{
    width: 50%;
    align-content: baseline;
   p {
       span{
           transition: all 1s;
       } 
   }

    span{
        cursor: pointer;
    }

    .btn{
        backface-visibility: hidden;
        padding: 12px 20px;
        display: block;
        text-transform: uppercase;
        transition: all .5s;

         &:hover{
             padding: 12px 30px;
             background-color: rgba(0, 0, 0, 0.283);
             border-radius: 120px;
         }
    }
    .btn-white{
        border: 2px yellow solid;
        color: white;
        border-radius: 100px;
        width: fit-content;
        margin: 10px auto;
    }
}
}