@media screen and (max-width:768px){

header{
    background-color: black;
    background-position-x:50em;

    .header{
        width: 95%;
        .logo{
            img{
                width:200px;
                padding: 8px 0;
            }
        }

        .menuClickable{ 
            right: 5vw;
            // .bar1, .bar2, .bar3 { width: 30px; height: 4px}
        }
    }
}

.container{
    scrollbar-color: none;
    .landingPage{
        .helloText{
            width: 100%;
        }

    }
    .portfolio{
        .port_box{
            grid-template-columns: repeat(1, 1fr);
        }

    }
}

.landingPage{
    img{
        width:95%;
        top:15%;
        right:2%;
    }

    .helloText{
        h1{font-size: 30px;}
        margin-top: 130%;
        width: 100%;
        text-align: center;
        p{
            font-size: 18px;
            width:100%;
            text-align: center;
        }
        .btn-white{
            font-size: 15px;
            &:hover{
                padding: 12px 30px 12px 30px;
            }
        }

    }
}
footer{
  
    div{
    
        h3{
            font-size: 5vw;
     }
    }
 }

}