@media screen and (max-width: 1024px) {

    body{
       

    }

header{
z-index: 0;
position: sticky;
opacity: 1;
background-color: black;
.header{
    width: 90%;
    .logo{
        // padding: 0.5vh 0;
        img{width: 20vw;}
        h2{ font-size:3.7vw}
    }
    .menuClickable{ 
        right: 5vw;

        .bar1, .bar2, .bar3 {
            width: 20px;
            height: 3px;
        }
    
    }
}
}


.container{
    scrollbar-width: 0px;
.landingPage{
.helloText{
    width:80%;
}
}
width: 90%;

.about{

    height: fit-content;
    padding: 0;
.hero_details{
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px 0;
    .hero_pic{
        justify-self: center;
        img{ 
            max-width: 320px;
            position: static;
    }
    }
}
}


.portfolio{
    // overflow: hidden;
    .port_box{
        grid-template-columns: repeat(2, 1fr);
    }

}


.plans {
    height: fit-content;

.plans_box {

    transition: all 1s;
    transition-delay: .3s;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}}


}

.landingPage{
    img{
        width:55%;
        top:18%;
        right:1%;
    }

    .helloText{
        h1{font-size: 30px;}
        margin-top: 30%;
        width: 60%;
        p{
            font-size: 18px;
            width:70%;
        }
        .btn-white{
            font-size: 15px;
        }

    }
}

}

