$textColor: #ffffff;
$accenttextColor: #ffff00;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1,h2,h3,h4,h5,p{color: $textColor}
h1,h2{color: $accenttextColor}
p{
    line-height: 1.5;
    font-size: 18px;
    padding: .5em 0;
}



body{
    // border: 3px solid red;
    background-image:
     linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url("../resources/images/backgroundImage.png");
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    transition: all 2s;

    a{text-decoration: none}
}


// this is the menu
@import './component_styles/menu';
// this is the header
@import './component_styles/header';
//  this is the footer
@import './component_styles/footer';


.img-Container{
    position: relative;
    img{
        position: absolute;
        width: 50%;
        right: 2vw;
    }
}



.modal_overlay{
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,.96); /* Black w/ opacity */

    
.close{
    // position: absolute;
    position: fixed;
    top:3%;
    text-shadow: 0,0,2, black;
    right: 5%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
    .modal-img{
        transition: all 2s;
        margin: auto;
        display: block;
        width: 80%;
        max-width: 900px;
}


#caption {
    margin: auto;
    display: block;
    width: 80%;
    height: fit-content;
    max-width: 900px;
    text-align: left;
    color: #ccc;
    padding: 20px 0;
    h2{
        text-transform: capitalize;
    }
}
}


.container{
    position: relative;
    overflow: auto;
    width: 80%;
    margin: 0 auto;
    animation: container  2s;


    @keyframes container {
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
        
        
    }
    // padding: 4vmax 0 ;

    //  pages 
    

}

@import './Pages/landingPage';
    @import './Pages/about';
    @import './Pages/portfolio';
    @import './Pages/contact';
    @import './Pages/plans';


// this is responsiveness
//  this is tablet view
@import './tablet';

//  this is mobile view
@import './mobile';
.empty-page {
    display: flex;
    min-height: 60vh;
    overflow-y: hidden;

    background-color: rgba(0, 0, 0, 0.02); 
}

.skeleton {
   
    background: linear-gradient(90deg, #20202031 25%, #7e7c7c11 50%, #41030325 75%);
    background-size: 200% 100%;
    animation: loading 10s infinite;
}

@keyframes loading {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}


/* Assuming you have some base styles for your component */
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .relative {
    position: relative;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .pointer-events-none {
    pointer-events: none;
  }
  
  .backdrop-blur-md {
    backdrop-filter: blur(8px);
  }
  
  /* Define a common style for the icon containers */
  .icon-container {
    width: 25%;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    text-align: center;
  }
  
  /* Apply hover effect to the icon containers */
  .icon-container:hover {
    transform: scale(1.1);
  }
  
  /* Define a common style for the icons */
  .icon-img {
    height: 4rem;
    margin: 0 auto;
  }
  
  /* Additional styling for individual icons if needed */
  /* .icon-container:nth-child(odd) {
    background-color: lightgray;
  } */
  
  /* Define styles for individual icons */
  /* .icon-figma {
    background-image: url("../resources/tech_icons/figma.png");
  } */
  
  /* .icon-firebase {
    background-image: url("../resources/tech_icons/firebase.jpg");
  } */
  
  /* .icon-ai {
    background-image: url("../resources/tech_icons/illustrator.png");
  } */
  
  /* .icon-photoshop {
    background-image: url("../resources/tech_icons/photoshop.png");
  } */
  
  /* .icon-js {
    background-image: url("../resources/tech_icons/javascript.png");
  } 
  
  /* .icon-react {
    background-image: url("../resources/tech_icons/react.png");
  } */
  .floatingWwhatsappBTN {
    z-index: 10;
    position: fixed;
    width: 70px;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; /* Adding transition effect */
  
    &:hover {
      transform: scale(1.1); /* Enlarge on hover */
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Enhance the glow on hover */
    }
  
    @media (min-width: 992px) {
      width: 100px;
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }
  